Repository averagechris/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

mdl-markdown-linter:
  name: markdown-linter
  description: ruby gem to lint markdown files
  entry: mdl -g
  language: system
  minimum_pre_commit_version: 1.14.2

python-format-black:
  name: python-black
  description: format python with black
  entry: black
  language: system

python-sort-imports:
  name: python-isort
  description: format python imports with isort
  entry: isort
  language: system

python-lint-flake8:
  name: python-flake8
  description: python flake8
  entry: flake8
  language: system

trainwreck: fetch only aarch64-linux pnpm deps for openclaw-gateway
  docs/trainwreck.md
  flakes/hosts/trainwreck/flake.nix
  flakes/hosts/trainwreck/openclaw-overlay.nix
Due: mdl-markdown-linter

fix(dev-cache): gate pressure_mode behind lowDisk.enable
  .gitignore
  flakes/hm-modules/modules/dev-cache.nix
Due: none

fix(thorny): disable hister until it's ready for prime time
  flakes/hosts/thorny/configuration.nix
Due: none

perf(trainwreck): trim server closure
  docs/jj-aliases.md
  docs/trainwreck.md
  flakes/hm-modules/modules/dev-cache.nix
  flakes/hm-modules/modules/jujutsu/default.nix
  flakes/hosts/trainwreck/configuration.nix
Due: mdl-markdown-linter

perf(flake): deduplicate shared host inputs
  docs/flake-hygiene.md
  flake.lock
  flake.nix
Due: mdl-markdown-linter

perf(nixos): trim calibre and thorny closures
  docs/shell.md
  docs/thorny.md
  docs/tom.md
  flakes/hm-modules/modules/shell-modules/calibre-utils.nix
  flakes/hosts/thorny/configuration.nix
  flakes/hosts/tom/configuration.nix
Due: mdl-markdown-linter

perf(hyprland): avoid duplicate helper runtimes
  docs/hyprland.md
  docs/tater-desktop-testing.md
  flakes/hm-modules/modules/gui/eww/default.nix
  flakes/hm-modules/modules/gui/hypridle/default.nix
  flakes/hm-modules/modules/gui/hyprland/default.nix
  flakes/hosts/tater/configuration.nix
  flakes/nixos-modules/modules/greetd.nix
Due: mdl-markdown-linter

feat(ssh): add lan discovery helpers
  docs/README.md
  docs/lan-ssh.md
  docs/suremac.md
  docs/thorny.md
  flakes/hm-modules/modules/shell-modules/lan-ssh.nix
  flakes/hm-modules/modules/shell.nix
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

perf(tom): drop workstation defaults
  docs/tom.md
  flakes/hosts/tom/configuration.nix
Due: mdl-markdown-linter

perf(thorny): drop chat and browser apps
  docs/hyprland.md
  docs/thorny.md
  flakes/hm-modules/modules/gui/hyprland/default.nix
  flakes/hosts/thorny/configuration.nix
Due: mdl-markdown-linter

perf(thorny): disable 32-bit graphics
  docs/thorny.md
  flakes/hosts/thorny/configuration.nix
Due: mdl-markdown-linter

perf(flake): deduplicate lock graphs and dev shells
  docs/flake-hygiene.md
  flake.lock
  flake.nix
  flakes/README.md
  flakes/base-lib/flake.lock
  flakes/base-lib/flake.nix
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hosts/cruber/flake.lock
  flakes/hosts/cruber/flake.nix
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/tater/flake.nix
  flakes/hosts/taz/flake.lock
  flakes/hosts/taz/flake.nix
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/tom/flake.lock
  flakes/hosts/tom/flake.nix
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/tootsie/flake.nix
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trainwreck/flake.nix
  flakes/hosts/trap/flake.lock
  flakes/hosts/trap/flake.nix
Due: mdl-markdown-linter

perf(hm-modules): deduplicate standalone lock graph
  docs/flake-hygiene.md
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
Due: mdl-markdown-linter

chore(deps): bump gander
  flake.lock
  flakes/hm-modules/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/trap/flake.lock
Due: none

feat(hm-modules): add srht integration
  docs/README.md
  docs/opencode.md
  docs/srht.md
  flake.lock
  flake.nix
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/default.nix
  flakes/hm-modules/modules/srht.nix
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
  flakes/hosts/tater/configuration.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/tater/flake.nix
  flakes/hosts/thorny/configuration.nix
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
Due: mdl-markdown-linter

feat(suremac): sync linear hygiene rules with company rules
  flakes/hm-modules/modules/linear-cli/default.nix
Due: none

feat(suremac): add GitHub PR hygiene reporting
  docs/README.md
  docs/jj-pr-workflow.md
  docs/linear-cli.md
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/main.rs
  flakes/hm-modules/modules/linear-cli/hygiene-automation.nix
  flakes/hm-modules/modules/linear-cli/hygiene_greeting.py
  flakes/hm-modules/modules/linear-cli/pr_hygiene_cache.py
  flakes/hm-modules/modules/opencode/skills/suremac-jj-pr/SKILL.md
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

chore(thorny): authorize sr.ht builder key
  flakes/base-lib/ssh-keys/default.nix
Due: none

feat(darwin): manage Colemak Mod-DH layout for suremac
  docs/suremac.md
  flakes/darwin-modules/flake.nix
  flakes/darwin-modules/modules/colemak-dh/colemak-mdh-bundle/Contents/Info.plist
  flakes/darwin-modules/modules/colemak-dh/colemak-mdh-bundle/Contents/Resources/Colemak DH ANSI - Extended.icns
  flakes/darwin-modules/modules/colemak-dh/colemak-mdh-bundle/Contents/Resources/Colemak DH ANSI - Extended.keylayout
  flakes/darwin-modules/modules/colemak-dh/colemak-mdh-bundle/Contents/Resources/Colemak DH ANSI.icns
  flakes/darwin-modules/modules/colemak-dh/colemak-mdh-bundle/Contents/Resources/Colemak DH ANSI.keylayout
  flakes/darwin-modules/modules/colemak-dh/colemak-mdh-bundle/Contents/Resources/en.lproj/InfoPlist.strings
  flakes/darwin-modules/modules/colemak-dh/colemak-mdh-bundle/Contents/version.plist
  flakes/darwin-modules/modules/colemak-dh/default.nix
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

chore: update flake inputs
  docs/srht.md
  flake.lock
  flakes/base-lib/flake.lock
  flakes/base-lib/packages/pi-coding-agent.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/main.rs
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: mdl-markdown-linter

fix(suremac): run location-aware time setup during activation
  flakes/hosts/suremac/configuration.nix
Due: none

feat(suremac): add daily darwin self-update agent
  docs/suremac.md
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/self-update.nix
Due: mdl-markdown-linter

feat(suremac): manage profile dev tools and document non-nix apps
  docs/suremac.md
  flakes/hosts/suremac/aws.nix
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

chore(suremac): drop ragrats from sure tools install
  docs/suremac.md
  flakes/hosts/suremac/aws.nix
Due: mdl-markdown-linter

fix(scripts): keep cache.nixos.org trusted on determinate nix setup
  scripts/setup-darwin-determinate-nix.sh
Due: none

feat(darwin): add customSshd module for MDM-proof ssh access
  docs/suremac.md
  flakes/darwin-modules/flake.nix
  flakes/darwin-modules/modules/custom-sshd/default.nix
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

docs(suremac): use generic wording for device management
  docs/suremac.md
  flakes/darwin-modules/modules/custom-sshd/default.nix
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

perf(nixos): optimize closure size tater/thorny
  docs/flake-hygiene.md
  flake.lock
  flakes/base-lib/flake.lock
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hm-modules/modules/gui/theming/default.nix
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/configuration.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
  flakes/nixos-modules/modules/hyprland-desktop.nix
  flakes/nixos-modules/modules/users/chris.nix
Due: mdl-markdown-linter

feat(sideshow): add deck CLI module and host integrations
  docs/README.md
  docs/opencode.md
  docs/sideshow.md
  flake.lock
  flake.nix
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/default.nix
  flakes/hm-modules/modules/opencode/skills/sideshow-work-story/SKILL.md
  flakes/hm-modules/modules/sideshow.nix
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
  flakes/hosts/tater/configuration.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/tater/flake.nix
  scripts/check-opencode-patches.sh
Due: mdl-markdown-linter

feat(rdny): add browser automation module
  docs/README.md
  docs/manual-package-updates.md
  docs/opencode.md
  docs/rdny.md
  docs/suremac.md
  flake.lock
  flake.nix
  flakes/base-lib/overlays/default.nix
  flakes/base-lib/packages/rodney.nix
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/default.nix
  flakes/hm-modules/modules/opencode/skills/rdny-browser/SKILL.md
  flakes/hm-modules/modules/rdny.nix
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
  flakes/hosts/tater/configuration.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/tater/flake.nix
  manual-package-updates.json
Due: mdl-markdown-linter

perf(nix): streamline fleet evaluation and SourceHut CI
  .builds/coverage-checks.yml
  .builds/trainwreck-build.yml
  .builds/x86-host-builds.yml
  .github/workflows/test.yaml
  .srht/full-fleet.yml
  README.md
  docs/README.md
  docs/flake-hygiene.md
  docs/flake-performance-audit.md
  docs/nixos.md
  flake.lock
  flake.nix
  flakes/base-lib/flake.lock
  flakes/base-lib/overlays/default.nix
  flakes/base-lib/packages/helium-bin.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
  scripts/ci-check-tiers.sh
  scripts/flake-benchmark.sh
Due: mdl-markdown-linter

fix(ci): bound SourceHut checks to runner capacity
  .builds/active-host-evals.yml
  .builds/trainwreck-build.yml
  .builds/x86-host-builds.yml
  .srht/trainwreck-build.yml
  .srht/trap-diagnostics.yml
  README.md
  docs/flake-performance-audit.md
  docs/nixos.md
  docs/srht.md
  scripts/ci-check-tiers.sh
Due: mdl-markdown-linter

chore(deps): bump flake inputs
  flake.lock
  flakes/base-lib/flake.lock
  flakes/base-lib/packages/helium-bin.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: none

perf(nix): make fleet warming revision-aware
  .srht/trap-diagnostics.yml
  docs/README.md
  docs/cache-policy.md
  docs/flake-performance-audit.md
  docs/nixos.md
  docs/suremac.md
  docs/thorny.md
  flake.nix
  flakes/hosts/thorny/configuration.nix
  scripts/ci-setup.sh
  scripts/flake-benchmark.sh
  scripts/host-build-cache-benchmark.sh
Due: mdl-markdown-linter

fix(thorny): report warmer system architecture
  flakes/hosts/thorny/configuration.nix
Due: none

docs(nix): record fleet warmer benchmarks
  docs/flake-performance-audit.md
  docs/thorny.md
Due: mdl-markdown-linter

test(trainwreck): force a QEMU cache miss
  docs/trainwreck.md
  flakes/hosts/trainwreck/configuration.nix
Due: mdl-markdown-linter

test(trainwreck): record QEMU cache-miss results
  docs/flake-performance-audit.md
  docs/trainwreck.md
  flakes/hosts/trainwreck/configuration.nix
Due: mdl-markdown-linter

fix(shell): cache LAN SSH discovery
  AGENTS.md
  README.md
  docs/README.md
  docs/lan-ssh.md
  docs/srht.md
  flakes/base-lib/ssh-keys/default.nix
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/shell-modules/lan-ssh.nix
Due: mdl-markdown-linter

Path conditions:
  mdl-markdown-linter: any of: \.(md|markdown|mdown)$
  python-format-black: any of: \.py$
  python-sort-imports: any of: \.py$
  python-lint-flake8: any of: \.py$
