Repository averagechris/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: destroyed-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      # NOTE: these require shellcheck and shfmt to be installed
      # in the environment they should be installed by
      # lorri -> direnv -> nix-shell
      # automatically from ~/dotfiles/shell.nix
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.8
    hooks:
      - id: mdformat

  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        description: Format nix code with nixpkgs-fmt.
        entry: nixpkgs-fmt
        language: system
        files: \.nix$
        always_run: true
        minimum_pre_commit_version: 1.14.2

      - id: mdl-markdown-linter
        name: markdown-linter
        description: ruby gem to lint markdown files
        entry: mdl -g
        language: system
        types: [markdown]
        minimum_pre_commit_version: 1.14.2

      - id: python-format-black
        name: python-black
        description: format python with black
        entry: black
        language: system
        types: [python]

      - id: python-sort-imports
        name: python-isort
        description: format python imports with isort
        entry: isort
        language: system
        types: [python]

      - id: python-lint-flake8
        name: python-flake8
        description: python flake8
        entry: flake8
        language: system
        types: [python]

      # TODO getting these to work will be a pain
      # TODO consider using something like
      # TODO https://github.com/cachix/pre-commit-hooks.nix
      #
      # - id: python-type-check-pyright
      #   name: python-type-check-pyright
      #   description: python type check pyright
      #   entry: pyright
      #   args: [./]
      #   language: system
      #   types: [python]
      #   pass_filenames: false
      #   always_run: true

      # - id: python-pytest
      #   name: python-pytest
      #   description: python pytest
      #   entry: pytest
      #   language: system
      #   types: [python]
      #   pass_filenames: false
      #   always_run: true

feat(linear-cli): add project and initiative hygiene rules
  flakes/hm-modules/modules/linear-cli.nix
Due: none

chore: update flake inputs and manual packages
  flake.lock
  flakes/base-lib/flake.lock
  flakes/base-lib/packages/helium-bin.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: none

fix(update-flakes): make --check work with current nix
  tools/update-flakes/src/main.rs
Due: none

fix(fzf): use renamed home-manager fzf widget options
  flakes/hm-modules/modules/shell-modules/fzf.nix
Due: none

fix(rust-dev-cache): supervise sccache server via launchd to prevent env poisoning
  docs/suremac.md
  flakes/hm-modules/modules/rust-dev-cache.nix
Due: mdl-markdown-linter

feat(linear-cli): add hygiene automation (scheduled checks, notifications, shell nudges, agentic autofix)
  AGENTS.md
  docs/README.md
  docs/linear-cli.md
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/default.nix
  flakes/hm-modules/modules/linear-cli/default.nix
  flakes/hm-modules/modules/linear-cli/hygiene-automation.nix
  flakes/hm-modules/modules/linear-cli/hygiene_autofix.py
  flakes/hm-modules/modules/linear-cli/hygiene_greeting.py
  flakes/hm-modules/modules/linear-cli/hygiene_notify.py
  flakes/hm-modules/modules/linear-cli/merge-context.py
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

chore(deps): bump gander
  flake.lock
  flakes/hm-modules/flake.lock
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
Due: none

feat(thorny): add self-deploy and build-cache maintenance
  .builds/build-cruber.yml
  .builds/build-suremac.yml
  .builds/build-tater.yml
  .builds/build-thorny.yml
  .builds/build-tom.yml
  .builds/build-trap.yml
  docs/README.md
  docs/thorny.md
  flakes/hosts/thorny/configuration.nix
Due: mdl-markdown-linter

feat(opencode): relax build-agent bash approvals
  AGENTS.md
  docs/opencode.md
  flakes/hm-modules/modules/opencode/primary-agents.nix
Due: mdl-markdown-linter

feat(opencode): add coding minion subagent
  AGENTS.md
  docs/opencode.md
  flakes/hm-modules/modules/opencode/primary-agents.nix
Due: mdl-markdown-linter

feat(opencode): add ctx to agent tools list
  AGENTS.md
  docs/opencode.md
  docs/suremac.md
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

chore(gander): bump flake input
  flake.lock
  flakes/hm-modules/flake.lock
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
Due: none

feat(gander): use gpt 5.5 low for review zen
  AGENTS.md
  docs/gander.md
  docs/opencode.md
  flakes/hm-modules/modules/gander.nix
  flakes/hm-modules/modules/opencode/primary-agents.nix
Due: mdl-markdown-linter

feat(ctx): add frequent history indexing
  AGENTS.md
  docs/README.md
  docs/ctx.md
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/ctx.nix
  flakes/hm-modules/modules/default.nix
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/tater/configuration.nix
Due: mdl-markdown-linter

fix(thorny): add git to self-deploy and build-cache runtime inputs
  flakes/hosts/thorny/configuration.nix
Due: none

feat(thorny,trainwreck): host hister search engine with backups and public front door
  flake.lock
  flakes/hosts/thorny/configuration.nix
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/trainwreck/configuration.nix
  secrets/secrets.nix
Due: none

chore(opencode): untrack .opencode/package-lock.json
  .opencode/package-lock.json
Due: none

feat(dev-cache): daily nix GC, cargo-sweep, and cross-platform cleanup
  docs/README.md
  docs/dev-cache.md
  docs/suremac.md
  flakes/hm-modules/modules/default.nix
  flakes/hm-modules/modules/dev-cache.nix
  flakes/hm-modules/modules/rust-dev-cache.nix
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/tater/configuration.nix
  flakes/hosts/thorny/configuration.nix
Due: mdl-markdown-linter

feat(opencode): trust managed jj workspaces
  .opencode/skill/nix-dotfiles/SKILL.md
  AGENTS.md
  docs/README.md
  docs/deploy.md
  docs/opencode.md
  docs/trainwreck.md
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hm-modules/modules/opencode/settings.nix
Due: mdl-markdown-linter

feat(thorny): hourly fleet pages refresh safety-net timer
  flakes/hosts/thorny/configuration.nix
Due: none

feat(thorny): fleet cache warmer pushing CI closures to cachix
  docs/thorny.md
  flakes/hosts/thorny/configuration.nix
  secrets/cachix-auth-token.age
  secrets/recreate-secrets.sh
  secrets/secrets.nix
Due: mdl-markdown-linter

refactor(jj): parse workflow CLI with clap
  flakes/hm-modules/modules/jujutsu/jj-workflow/Cargo.lock
  flakes/hm-modules/modules/jujutsu/jj-workflow/Cargo.toml
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/main.rs
Due: none

feat(jj): sign annotated release tags by default
  docs/README.md
  docs/gpg-signing.md
  docs/jj-tag-workflow.md
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/main.rs
  flakes/hm-modules/modules/opencode/skills/jj-repo-workflow/SKILL.md
Due: mdl-markdown-linter

chore(deps): bump flake inputs
  flake.lock
  flakes/base-lib/flake.lock
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/tater/flake.nix
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/hosts/trap/flake.nix
  flakes/nixos-modules/flake.lock
Due: none

fix(nix): quiet flake check warnings
  docs/nixos.md
  flake.nix
  flakes/nixos-modules/modules/common.nix
  flakes/nixos-modules/modules/searx.nix
  flakes/nixos-modules/modules/users/chris-minimal.nix
Due: mdl-markdown-linter

fix(thorny): provision hut credentials
  docs/thorny.md
  flakes/hosts/thorny/configuration.nix
  secrets/secrets.nix
  secrets/thorny/hut-access-token.age
Due: mdl-markdown-linter

chore(secrets): add cachix token
  secrets/cachix-auth-token.age
  secrets/recreate-secrets.sh
Due: none

fix(thorny): read site-refresh fingerprints from state.json 'projects' map
  flakes/hosts/thorny/configuration.nix
Due: none

fix(secrets): thorny hut-access-token.age encrypted an empty string
  secrets/thorny/hut-access-token.age
Due: none

docs(ci): record the lint-check flake-check OOM/timeout follow-up options
  .builds/lint-check.yml
Due: none

feat(nixos): add pull-based self-deploy timers
  docs/deploy.md
  docs/thorny.md
  docs/tom.md
  docs/trainwreck.md
  flakes/hosts/thorny/configuration.nix
  flakes/hosts/tom/configuration.nix
  flakes/hosts/trainwreck/configuration.nix
  flakes/nixos-modules/flake.nix
  flakes/nixos-modules/modules/self-deploy.nix
Due: mdl-markdown-linter

docs: plan automated maintenance
  docs/README.md
  docs/automated-maintenance.md
Due: mdl-markdown-linter

feat(maintenance): add dotfiles gate helper
  docs/automated-maintenance.md
  flake.nix
  scripts/dotfiles-maintenance-gate.sh
Due: mdl-markdown-linter

fix(maintenance): harden gate helper
  docs/automated-maintenance.md
  scripts/dotfiles-maintenance-gate.sh
Due: mdl-markdown-linter

feat(jujutsu): add compact log aliases
  docs/README.md
  docs/jj-aliases.md
  flakes/hm-modules/modules/jujutsu/default.nix
  flakes/hm-modules/modules/opencode/skills/jj-change-management/SKILL.md
  flakes/hm-modules/modules/opencode/skills/jj-repo-workflow/SKILL.md
  flakes/hm-modules/modules/opencode/skills/jj-vcs/SKILL.md
Due: mdl-markdown-linter

feat(dev-cache): add low-disk pressure cleanup
  docs/dev-cache.md
  docs/suremac.md
  flakes/hm-modules/modules/dev-cache.nix
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

fix(hm-modules): stabilize helper source names
  flakes/hm-modules/modules/helix-terminal-tools/default.nix
  flakes/hm-modules/modules/helix-yazi-integration/default.nix
Due: none

perf(flake): trim host closure and input graph
  docs/README.md
  docs/flake-hygiene.md
  docs/helix.md
  docs/opencode.md
  docs/suremac.md
  flake.lock
  flake.nix
  flakes/hm-modules/modules/git/default.nix
  flakes/hm-modules/modules/gpg.nix
  flakes/hm-modules/modules/helix/default.nix
  flakes/hm-modules/modules/jujutsu/default.nix
  flakes/hm-modules/modules/linear-cli/default.nix
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

perf(flake): trim cross-host closures and lock graph
  docs/flake-hygiene.md
  docs/nixos.md
  docs/opencode.md
  flake.lock
  flakes/README.md
  flakes/base-lib/README.md
  flakes/base-lib/flake.lock
  flakes/base-lib/flake.nix
  flakes/base-lib/lib/default.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hm-modules/modules/git/default.nix
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hm-modules/modules/shell-modules/ranger.nix
  flakes/hm-modules/modules/shell.nix
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/configuration.nix
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/configuration.nix
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/configuration.nix
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/configuration.nix
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
  flakes/nixos-modules/modules/common.nix
Due: mdl-markdown-linter

chore(thorny): trust suremac for builder access
  docs/thorny.md
  flakes/base-lib/ssh-keys/default.nix
Due: mdl-markdown-linter
