Repository averagechris/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

mdl-markdown-linter:
  name: markdown-linter
  description: ruby gem to lint markdown files
  entry: mdl -g
  language: system
  minimum_pre_commit_version: 1.14.2

python-format-black:
  name: python-black
  description: format python with black
  entry: black
  language: system

python-sort-imports:
  name: python-isort
  description: format python imports with isort
  entry: isort
  language: system

python-lint-flake8:
  name: python-flake8
  description: python flake8
  entry: flake8
  language: system

fix(jj-ws): always repair copied venvs; preserve trash on same-second collisions
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/main.rs
Due: none

feat(opencode): add model trials and session retention
  docs/opencode.md
  flakes/hm-modules/modules/default.nix
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hm-modules/modules/opencode/oconf.sh
  flakes/hm-modules/modules/opencode/session-cleanup.nix
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

chore(deps): bump flake inputs and refresh OpenCode patch
  flake.lock
  flakes/base-lib/flake.lock
  flakes/base-lib/packages/helium-bin.nix
  flakes/base-lib/packages/pi-coding-agent.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hm-modules/modules/opencode/patches/opencode-fix-old-drizzle-migration-journal.patch
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: none

chore(opencode): bump to fable 5.1
  docs/opencode.md
  flakes/hm-modules/modules/opencode/primary-agents.nix
Due: mdl-markdown-linter

chore(deps): bump flake inputs
  flake.lock
  flakes/base-lib/flake.lock
  flakes/base-lib/packages/helium-bin.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: none

chore(deps): bump flake inputs
  flake.lock
  flakes/base-lib/flake.lock
  flakes/base-lib/packages/helium-bin.nix
  flakes/base-lib/packages/pi-coding-agent.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: none

feat(suremac): Sure Connect AWS profiles and agenix-managed EKS kubeconfig
  AGENTS.md
  docs/README.md
  docs/suremac.md
  docs/troubleshooting/README.md
  docs/troubleshooting/lazy-trees-unmaterialized-source-path.md
  flakes/hm-modules/modules/linear-cli/default.nix
  flakes/hosts/suremac/aws.nix
  flakes/hosts/suremac/configuration.nix
  secrets/secrets.nix
  secrets/suremac-kubeconfig-eks.age
Due: mdl-markdown-linter

feat(opencode): migrate Home Manager integration to OpenCode V2
  docs/dev-cache.md
  docs/opencode-patches.md
  docs/opencode.md
  flake.lock
  flakes/base-lib/flake.lock
  flakes/base-lib/flake.nix
  flakes/base-lib/overlays/default.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/dev-cache.nix
  flakes/hm-modules/modules/opencode/agent-selection-policy.md
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hm-modules/modules/opencode/oconf.sh
  flakes/hm-modules/modules/opencode/patches/opencode-allow-nix-bun-1-3-13.patch
  flakes/hm-modules/modules/opencode/patches/opencode-fix-old-drizzle-migration-journal.patch
  flakes/hm-modules/modules/opencode/patches/opencode-route-nested-prompts.patch
  flakes/hm-modules/modules/opencode/patches/opencode-strip-env-assignments.patch
  flakes/hm-modules/modules/opencode/plugins/dotfiles-direnv.js
  flakes/hm-modules/modules/opencode/plugins/dotfiles-rust-cache.js
  flakes/hm-modules/modules/opencode/primary-agents.nix
  flakes/hm-modules/modules/opencode/service-guard.sh
  flakes/hm-modules/modules/opencode/session-cleanup.nix
  flakes/hm-modules/modules/opencode/settings.nix
  flakes/hm-modules/modules/opencode/test-session-cleanup.py
  flakes/hm-modules/modules/opencode/tests/plugin-v2-contract.mjs
  flakes/hm-modules/modules/opencode/tests/runtime-v2.py
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

feat(opencode): add cross-repository references
  docs/opencode.md
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

feat(opencode): emit native V2 configuration
  docs/opencode.md
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/opencode/primary-agents.nix
  flakes/hm-modules/modules/opencode/settings.nix
  flakes/hm-modules/modules/opencode/tests/runtime-v2.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

feat(opencode): enable desktop notifications
  docs/opencode.md
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

perf(opencode): compact long sessions after 350k tokens
  docs/opencode.md
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/opencode/settings.nix
  flakes/hm-modules/modules/opencode/tests/runtime-v2.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

refactor(jj): extract workspace operations
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/lib.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/main.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/ws/mod.rs
Due: none

feat(jj): add device workspace configuration
  docs/jj-workspaces.md
  flakes/hm-modules/modules/jujutsu/default.nix
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/lib.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/ws/mod.rs
Due: mdl-markdown-linter

fix(jj): discover recorded workspace roots
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/lib.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/ws/mod.rs
Due: none

feat(jj): add device-wide bay command
  docs/jj-workspaces.md
  flakes/hm-modules/modules/jujutsu/default.nix
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bay.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bin/bay.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/lib.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/tests/bay.rs
  flakes/hm-modules/modules/opencode/skills/jj-workspaces/SKILL.md
Due: mdl-markdown-linter

feat(opencode): manage jj workspaces with Bay
  docs/jj-workspaces.md
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/jujutsu/default.nix
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bay.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/ws/mod.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/tests/bay.rs
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hm-modules/modules/opencode/plugins/dotfiles-bay-worktrees.js
  flakes/hm-modules/modules/opencode/skills/jj-workspaces/SKILL.md
  flakes/hm-modules/modules/opencode/tests/bay-worktrees-actual-contract.mjs
  flakes/hm-modules/modules/opencode/tests/bay-worktrees-contract.mjs
Due: mdl-markdown-linter

feat(jj): add repository-scoped bay maintenance
  docs/jj-workspaces.md
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bay.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/lib.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/tests/bay.rs
Due: mdl-markdown-linter

feat(bay): route GitHub owners to repository groups
  docs/jj-workspaces.md
  flakes/hm-modules/modules/jujutsu/default.nix
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bay.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bay_repo.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/lib.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/ws/mod.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/tests/bay.rs
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

feat(bay): find GitHub repositories
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bay.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bay_repo.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/tests/bay.rs
Due: none

feat(bay): clone GitHub repositories with jj
  flakes/hm-modules/modules/jujutsu/jj-workflow/Cargo.lock
  flakes/hm-modules/modules/jujutsu/jj-workflow/Cargo.toml
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bay.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/tests/bay.rs
Due: none

docs(bay): document GitHub repository onboarding
  docs/jj-workspaces.md
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bay.rs
  flakes/hm-modules/modules/opencode/skills/jj-workspaces/SKILL.md
Due: mdl-markdown-linter

refactor(opencode): make Bay the workspace skill
  .jj-lint.toml
  AGENTS.md
  docs/README.md
  docs/bay-workspaces.md
  docs/jj-aliases.md
  docs/opencode.md
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/opencode/skills.nix
  flakes/hm-modules/modules/opencode/skills/bay-workspaces/SKILL.md
  flakes/hm-modules/modules/opencode/skills/jj-change-management/SKILL.md
  flakes/hm-modules/modules/opencode/skills/jj-conflict-resolution/SKILL.md
  flakes/hm-modules/modules/opencode/skills/jj-repo-workflow/SKILL.md
  flakes/hm-modules/modules/opencode/skills/jj-workspaces/SKILL.md
  flakes/hm-modules/modules/opencode/tests/check-jj-skills.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

refactor(opencode): tighten jj PR guidance
  .jj-lint.toml
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/opencode/primary-agents.nix
  flakes/hm-modules/modules/opencode/skills.nix
  flakes/hm-modules/modules/opencode/skills/suremac-jj-pr/SKILL.md
  flakes/hm-modules/modules/opencode/tests/check-jj-skills.py
  flakes/hosts/suremac/flake.nix
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

docs(bay): separate operator and compatibility guidance
  AGENTS.md
  docs/README.md
  docs/bay.md
  docs/jj-aliases.md
  docs/jj-workspaces.md
  docs/opencode.md
  flakes/hm-modules/modules/opencode/skills/bay-workspaces/SKILL.md
  flakes/hm-modules/modules/opencode/tests/check-jj-skills.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

fix(bay): preserve machine-safe workspace lifecycle
  .gitignore
  docs/bay.md
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bay.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/tests/bay.rs
Due: mdl-markdown-linter

fix(opencode): load Bay plugin and jj skills
  .jj-lint.toml
  docs/opencode.md
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hm-modules/modules/opencode/plugin-runtime/default.nix
  flakes/hm-modules/modules/opencode/plugin-runtime/package-lock.json
  flakes/hm-modules/modules/opencode/plugin-runtime/package.json
  flakes/hm-modules/modules/opencode/skills/bay-workspaces/SKILL.md
  flakes/hm-modules/modules/opencode/skills/jj-change-management/SKILL.md
  flakes/hm-modules/modules/opencode/skills/jj-repo-workflow/SKILL.md
  flakes/hm-modules/modules/opencode/tests/bay-worktrees-actual-contract.mjs
  flakes/hm-modules/modules/opencode/tests/bay-worktrees-contract.mjs
  flakes/hm-modules/modules/opencode/tests/check-deployed-skills.py
  flakes/hm-modules/modules/opencode/tests/check-jj-skills.py
  flakes/hm-modules/tests/agent-skills/malformed/skills/broken/SKILL.md
  flakes/hosts/suremac/flake.nix
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

chore(deps): bump flake inputs
  docs/opencode-patches.md
  docs/opencode.md
  flake.lock
  flakes/base-lib/flake.lock
  flakes/base-lib/overlays/default.nix
  flakes/base-lib/packages/helium-bin.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/opencode/plugin-runtime/default.nix
  flakes/hm-modules/modules/opencode/plugin-runtime/package-lock.json
  flakes/hm-modules/modules/opencode/plugin-runtime/package.json
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: mdl-markdown-linter

fix(nix): use host platform predicates
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/ctx.nix
  flakes/hm-modules/modules/dev-cache.nix
  flakes/hm-modules/modules/granola.nix
  flakes/hm-modules/modules/linear-cli/default.nix
  flakes/hm-modules/modules/linear-cli/hygiene-automation.nix
  flakes/hm-modules/modules/opencode/session-cleanup.nix
Due: none

feat(bay): sweep retained Nix workspace roots
  docs/bay.md
  docs/jj-workspaces.md
  flakes/hm-modules/modules/jujutsu/default.nix
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/lib.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/ws/mod.rs
Due: mdl-markdown-linter

feat(nix): automate stale workspace reclamation
  docs/bay.md
  docs/dev-cache.md
  docs/suremac.md
  flakes/hm-modules/modules/dev-cache.nix
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/bay.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/lib.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/src/ws/mod.rs
  flakes/hm-modules/modules/jujutsu/jj-workflow/tests/bay.rs
  flakes/hosts/suremac/configuration.nix
  scripts/setup-darwin-determinate-nix.sh
Due: mdl-markdown-linter

build(nix): update shared nixpkgs for Electron 44
  docs/flake-hygiene.md
  flake.lock
  flakes/base-lib/flake.lock
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: mdl-markdown-linter

fix(opencode): refresh Darwin node-modules hash
  docs/opencode-patches.md
  flakes/hm-modules/modules/opencode/default.nix
Due: mdl-markdown-linter

feat(suremac): add T3 Code OpenCode 2
  docs/suremac.md
  flake.lock
  flake.nix
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
Due: mdl-markdown-linter

ci(nix): verify shared pin on Linux
  .github/workflows/nix-pin.yml
  docs/flake-hygiene.md
Due: mdl-markdown-linter

feat(suremac): add T3 Code on tested nixpkgs pin
  .github/workflows/nix-pin.yml
  docs/flake-hygiene.md
  docs/opencode-patches.md
  docs/suremac.md
  flake.lock
  flake.nix
  flakes/base-lib/flake.lock
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: mdl-markdown-linter

feat(dotfiles): reconcile GitHub and SourceHut main
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/ctx.nix
  flakes/hm-modules/modules/dev-cache.nix
  flakes/hm-modules/modules/granola.nix
  flakes/hm-modules/modules/linear-cli/default.nix
  flakes/hm-modules/modules/linear-cli/hygiene-automation.nix
  flakes/hm-modules/modules/opencode/session-cleanup.nix
Due: none

chore(deps): carry SourceHut package updates
  docs/helium.md
  docs/opencode-patches.md
  docs/opencode.md
  flake.lock
  flakes/base-lib/flake.lock
  flakes/base-lib/overlays/default.nix
  flakes/base-lib/packages/helium-bin.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hm-modules/modules/opencode/plugin-runtime/default.nix
  flakes/hm-modules/modules/opencode/plugin-runtime/package-lock.json
  flakes/hm-modules/modules/opencode/plugin-runtime/package.json
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: mdl-markdown-linter

fix(opencode): remove unsafe assignment permission patch
  docs/opencode-patches.md
  docs/opencode.md
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hm-modules/modules/opencode/patches/opencode-strip-env-assignments.patch
Due: mdl-markdown-linter

ci(dotfiles): run active checks on GitHub
  .builds/active-host-evals.yml
  .builds/coverage-checks.yml
  .builds/lint-check.yml
  .github/workflows/dotfiles-checks.yml
  .srht/full-fleet.yml
  .srht/trainwreck-build.yml
  .srht/trap-diagnostics.yml
  README.md
  docs/cache-policy.md
  docs/flake-performance-audit.md
  docs/nixos.md
  docs/srht.md
  scripts/ci-check-tiers.sh
  scripts/ci-setup.sh
Due: mdl-markdown-linter

Path conditions:
  mdl-markdown-linter: any of: \.(md|markdown|mdown)$
  python-format-black: any of: \.py$
  python-sort-imports: any of: \.py$
  python-lint-flake8: any of: \.py$
