Repository averagechris/dotfiles: changes, and which pre-commit hooks are due for each by the changed paths.
All: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.0.1
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-added-large-files
      - id: destroyed-symlinks
      - id: mixed-line-ending

  - repo: https://github.com/syntaqx/git-hooks
    rev: v0.0.17
    hooks:
      # NOTE: these require shellcheck and shfmt to be installed
      # in the environment they should be installed by
      # lorri -> direnv -> nix-shell
      # automatically from ~/dotfiles/shell.nix
      - id: shellcheck
      - id: shfmt

  - repo: https://github.com/executablebooks/mdformat
    rev: 0.7.8
    hooks:
      - id: mdformat

  - repo: local
    hooks:
      - id: nixpkgs-fmt
        name: nixpkgs-fmt
        description: Format nix code with nixpkgs-fmt.
        entry: nixpkgs-fmt
        language: system
        files: \.nix$
        always_run: true
        minimum_pre_commit_version: 1.14.2

      - id: mdl-markdown-linter
        name: markdown-linter
        description: ruby gem to lint markdown files
        entry: mdl -g
        language: system
        types: [markdown]
        minimum_pre_commit_version: 1.14.2

      - id: python-format-black
        name: python-black
        description: format python with black
        entry: black
        language: system
        types: [python]

      - id: python-sort-imports
        name: python-isort
        description: format python imports with isort
        entry: isort
        language: system
        types: [python]

      - id: python-lint-flake8
        name: python-flake8
        description: python flake8
        entry: flake8
        language: system
        types: [python]

      # TODO getting these to work will be a pain
      # TODO consider using something like
      # TODO https://github.com/cachix/pre-commit-hooks.nix
      #
      # - id: python-type-check-pyright
      #   name: python-type-check-pyright
      #   description: python type check pyright
      #   entry: pyright
      #   args: [./]
      #   language: system
      #   types: [python]
      #   pass_filenames: false
      #   always_run: true

      # - id: python-pytest
      #   name: python-pytest
      #   description: python pytest
      #   entry: pytest
      #   language: system
      #   types: [python]
      #   pass_filenames: false
      #   always_run: true

feat(thorny): refine Michi's voice and Telegram replies
  docs/README.md
  docs/zeroclaw.md
  flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/michi/IDENTITY.md
  flakes/hosts/thorny/michi/SOUL.md
  flakes/hosts/thorny/zeroclaw.nix
Due: mdl-markdown-linter

feat(thorny): refine Michi's voice and Telegram replies (#33)
  docs/README.md
  docs/zeroclaw.md
  flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/michi/IDENTITY.md
  flakes/hosts/thorny/michi/SOUL.md
  flakes/hosts/thorny/zeroclaw.nix
Due: mdl-markdown-linter

feat(suremac): add grem preferences reference draft
  docs/README.md
  docs/grem.md
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/grem/PREFERENCES.md
Due: mdl-markdown-linter

feat(suremac): add grem preferences reference (#34)
  docs/README.md
  docs/grem.md
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/grem/PREFERENCES.md
Due: mdl-markdown-linter

feat(thorny): expand Michi media, search, and model capabilities
  docs/README.md
  docs/zeroclaw.md
  flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/zeroclaw.nix
  secrets/thorny/zeroclaw-env.age
Due: mdl-markdown-linter

feat(thorny): expand Michi media, search, and model capabilities (#35)
  docs/README.md
  docs/zeroclaw.md
  flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/zeroclaw.nix
  secrets/thorny/zeroclaw-env.age
Due: mdl-markdown-linter

fix(suremac): prevent idle sleep on AC power
  docs/suremac.md
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

fix(suremac): prevent idle sleep on AC power (#36)
  docs/suremac.md
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

feat(thorny): give Michi scoped memo memory and owner video editing
  docs/README.md
  docs/zeroclaw.md
  flake.lock
  flake.nix
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
Due: mdl-markdown-linter

feat(thorny): give Michi scoped memo memory and owner video editing (#37)
  docs/README.md
  docs/zeroclaw.md
  flake.lock
  flake.nix
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
Due: mdl-markdown-linter

feat(codex): set suremac fallback and reference task routing
  docs/codex.md
  docs/grem.md
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/grem/PREFERENCES.md
Due: mdl-markdown-linter

feat(codex): set suremac fallback and reference task routing (#38)
  docs/codex.md
  docs/grem.md
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/grem/PREFERENCES.md
Due: mdl-markdown-linter

feat(thorny): expand Michi memory and Telegram capabilities
  docs/zeroclaw.md
  flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/michi/SOUL.md
  flakes/hosts/thorny/zeroclaw.nix
Due: mdl-markdown-linter

feat(thorny): expand Michi memory and Telegram capabilities (#39)
  docs/zeroclaw.md
  flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/michi/SOUL.md
  flakes/hosts/thorny/zeroclaw.nix
Due: mdl-markdown-linter

feat(thorny): add Michi browser and personal shell tools
  docs/rdny.md
  docs/zeroclaw.md
  flake.lock
  flake.nix
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
Due: mdl-markdown-linter

feat(thorny): add Michi browser and personal shell tools (#40)
  docs/rdny.md
  docs/zeroclaw.md
  flake.lock
  flake.nix
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
Due: mdl-markdown-linter

chore(thorny): provision Michi GitHub token
  secrets/thorny/zeroclaw-env.age
Due: none

chore(thorny): provision Michi GitHub token (#41)
  secrets/thorny/zeroclaw-env.age
Due: none

feat(thorny): delegate Michi coding tasks to Codex
  docs/codex.md
  docs/zeroclaw.md
  flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
  scripts/ci-check-tiers.sh
  scripts/michi-codex.py
  tests/test_michi_codex.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

feat(thorny): delegate Michi coding tasks to Codex (#42)
  docs/codex.md
  docs/zeroclaw.md
  flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
  scripts/ci-check-tiers.sh
  scripts/michi-codex.py
  tests/test_michi_codex.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

fix(thorny): run Codex with current models and coding guidance
  docs/zeroclaw.md
  flakes/hosts/thorny/michi/CODING.md
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/packages/codex.nix
  flakes/hosts/thorny/zeroclaw.nix
  scripts/michi-codex.py
  tests/test_michi_codex.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

fix(thorny): run Codex with current models and coding guidance (#43)
  docs/zeroclaw.md
  flakes/hosts/thorny/michi/CODING.md
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/packages/codex.nix
  flakes/hosts/thorny/zeroclaw.nix
  scripts/michi-codex.py
  tests/test_michi_codex.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

feat(thorny): connect phone host and owner Codex tools
  docs/zeroclaw.md
  flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
  scripts/michi-codex-sessions.py
  tests/test_michi_codex.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

feat(thorny): connect phone host and owner Codex tools (#44)
  docs/zeroclaw.md
  flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
  scripts/michi-codex-sessions.py
  tests/test_michi_codex.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

feat(thorny): deliver durable Codex completion follow-ups
  docs/zeroclaw.md
  flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
  scripts/michi-codex-notify.py
  scripts/michi-codex.py
  tests/test_michi_codex.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

feat(thorny): deliver durable Codex completion follow-ups (#45)
  docs/zeroclaw.md
  flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
  scripts/michi-codex-notify.py
  scripts/michi-codex.py
  tests/test_michi_codex.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

feat(thorny): add personal Codex skills and quiet project memory
  docs/codex.md
  docs/zeroclaw.md
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/personal-codex.nix
  flakes/hosts/thorny/zeroclaw.nix
Due: mdl-markdown-linter

fix(thorny): wire owner GitHub credential helper
  docs/zeroclaw.md
  flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
  scripts/michi-codex.py
  tests/test_michi_codex.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

feat(thorny): add personal Codex skills and quiet project memory (#46)
  docs/codex.md
  docs/zeroclaw.md
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/personal-codex.nix
  flakes/hosts/thorny/zeroclaw.nix
Due: mdl-markdown-linter

fix(thorny): wire owner GitHub credential helper (#47)
  docs/zeroclaw.md
  flake.nix
  flakes/hosts/thorny/michi/OWNER_TOOLS.md
  flakes/hosts/thorny/zeroclaw.nix
  scripts/michi-codex.py
  tests/test_michi_codex.py
Due: mdl-markdown-linter, python-format-black, python-sort-imports, python-lint-flake8

feat(mcp): add Codex Sentry and migrate Datadog to v1
  docs/codex.md
  docs/opencode.md
  flakes/hm-modules/modules/opencode/settings.nix
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

feat(mcp): add Codex Sentry and migrate Datadog to v1 (#48)
  docs/codex.md
  docs/opencode.md
  flakes/hm-modules/modules/opencode/settings.nix
  flakes/hosts/suremac/configuration.nix
Due: mdl-markdown-linter

fix(agents): prefer installed CLIs and retire unused tools
  docs/README.md
  docs/codex.md
  docs/flake-hygiene.md
  docs/opencode.md
  docs/sideshow.md
  docs/srht.md
  docs/suremac.md
  docs/thorny.md
  docs/zeroclaw.md
  flake.lock
  flake.nix
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/codex/AGENTS.md
  flakes/hm-modules/modules/default.nix
  flakes/hm-modules/modules/opencode/skills/sideshow-work-story/SKILL.md
  flakes/hm-modules/modules/opencode/skills/why/references/source-playbook.md
  flakes/hm-modules/modules/opencode/skills/why/references/sources/sourcehut-ci.md
  flakes/hm-modules/modules/opencode/skills/why/references/sources/sourcehut-issues.md
  flakes/hm-modules/modules/rdny.nix
  flakes/hm-modules/modules/sideshow.nix
  flakes/hm-modules/modules/srht.nix
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
  flakes/hosts/tater/configuration.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/tater/flake.nix
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/configuration.nix
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/personal-codex.nix
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
Due: mdl-markdown-linter

fix(agents): prefer installed CLIs and retire unused tools (#49)
  docs/README.md
  docs/codex.md
  docs/flake-hygiene.md
  docs/opencode.md
  docs/sideshow.md
  docs/srht.md
  docs/suremac.md
  docs/thorny.md
  docs/zeroclaw.md
  flake.lock
  flake.nix
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/codex/AGENTS.md
  flakes/hm-modules/modules/default.nix
  flakes/hm-modules/modules/opencode/skills/sideshow-work-story/SKILL.md
  flakes/hm-modules/modules/opencode/skills/why/references/source-playbook.md
  flakes/hm-modules/modules/opencode/skills/why/references/sources/sourcehut-ci.md
  flakes/hm-modules/modules/opencode/skills/why/references/sources/sourcehut-issues.md
  flakes/hm-modules/modules/rdny.nix
  flakes/hm-modules/modules/sideshow.nix
  flakes/hm-modules/modules/srht.nix
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/configuration.nix
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
  flakes/hosts/tater/configuration.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/tater/flake.nix
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/configuration.nix
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/personal-codex.nix
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
Due: mdl-markdown-linter

chore(deps): update flake inputs and compatibility pins
  docs/anyrun.md
  docs/codex.md
  docs/flake-hygiene.md
  docs/opencode-patches.md
  docs/opencode.md
  flake.lock
  flake.nix
  flakes/base-lib/flake.lock
  flakes/base-lib/flake.nix
  flakes/base-lib/packages/memo.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/gui/anyrun/default.nix
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hm-modules/modules/opencode/plugin-runtime/default.nix
  flakes/hm-modules/modules/opencode/plugin-runtime/package-lock.json
  flakes/hm-modules/modules/opencode/plugin-runtime/package.json
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
  flakes/hosts/tater/configuration.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/tater/flake.nix
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/personal-codex.nix
  flakes/hosts/thorny/zeroclaw.nix
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: mdl-markdown-linter

chore(deps): update flake inputs and compatibility pins (#50)
  docs/anyrun.md
  docs/codex.md
  docs/flake-hygiene.md
  docs/opencode-patches.md
  docs/opencode.md
  flake.lock
  flake.nix
  flakes/base-lib/flake.lock
  flakes/base-lib/flake.nix
  flakes/base-lib/packages/memo.nix
  flakes/darwin-modules/flake.lock
  flakes/hm-modules/flake.lock
  flakes/hm-modules/flake.nix
  flakes/hm-modules/modules/gui/anyrun/default.nix
  flakes/hm-modules/modules/opencode/default.nix
  flakes/hm-modules/modules/opencode/plugin-runtime/default.nix
  flakes/hm-modules/modules/opencode/plugin-runtime/package-lock.json
  flakes/hm-modules/modules/opencode/plugin-runtime/package.json
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/suremac/flake.nix
  flakes/hosts/tater/configuration.nix
  flakes/hosts/tater/flake.lock
  flakes/hosts/tater/flake.nix
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/thorny/personal-codex.nix
  flakes/hosts/thorny/zeroclaw.nix
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
  flakes/nixos-modules/flake.lock
Due: mdl-markdown-linter

chore(deps): bump merged fork review inputs
  docs/manual-package-updates.md
  flake.lock
  flakes/hm-modules/flake.lock
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
Due: mdl-markdown-linter

fix(deploy): keep self-deployment alive during activation
  docs/thorny.md
  docs/zeroclaw.md
  flakes/hosts/thorny/zeroclaw.nix
  flakes/nixos-modules/modules/self-deploy.nix
Due: mdl-markdown-linter

fix(deploy): keep self-deployment alive during activation (#52)
  docs/thorny.md
  docs/zeroclaw.md
  flakes/hosts/thorny/zeroclaw.nix
  flakes/nixos-modules/modules/self-deploy.nix
Due: mdl-markdown-linter

chore(deps): bump merged fork review inputs (#51)
  docs/manual-package-updates.md
  flake.lock
  flakes/hm-modules/flake.lock
  flakes/hosts/cruber/flake.lock
  flakes/hosts/suremac/flake.lock
  flakes/hosts/tater/flake.lock
  flakes/hosts/taz/flake.lock
  flakes/hosts/thorny/flake.lock
  flakes/hosts/thorny/flake.nix
  flakes/hosts/tom/flake.lock
  flakes/hosts/tootsie/flake.lock
  flakes/hosts/trainwreck/flake.lock
  flakes/hosts/trap/flake.lock
Due: mdl-markdown-linter
